.coverage
.tox/
*.egg/
*.egg-info/
build/
dist/
.idea/
.vscode/
*.pyc
venv/
.venv/
coverage.xml
.mutmut-cache
.watchmanconfig
html/
.dccache
.pytest_cache
.pyre/
.mypy_cache/
.pytype/
.ruff_cache/
.venv/
venv/
__pycache__/
*.stderr*
docs/_*
