---
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: no-commit-to-branch
      - id: pretty-format-json
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/ikamensh/flynt/
    rev: '1.0.1'
    hooks:
      - id: flynt
  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
  - repo: https://github.com/hakancelikdev/unimport
    rev: 1.0.0
    hooks:
      - id: unimport
        args: [--remove, --include-star-import, --ignore-init, --gitignore]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  # - repo: https://github.com/dhruvmanila/remove-print-statements
  #   rev: 'v0.5.0'
  #   hooks:
  #   - id: remove-print-statements
  #     args: ['--verbose']   # Show all the print statements to be removed
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.287'
    hooks:
      - id: ruff
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          # - flake8-absolute-import
          # - flake8-awesome
          # - flake8-bandit
          # - flake8-blind-except
          - flake8-bugbear
          # - flake8-class-attributes-order
          - flake8-cognitive-complexity
          # - flake8-commas
          - flake8-comments
          - flake8-complex-f-strings
          # - flake8-continuation
          # - flake8-debugger
          - flake8-docstrings
          # - flake8-dunder-all
          - flake8-encodings
          - flake8-expression-complexity
          # - flake8-function-order
          - flake8-implicit-str-concat
          - flake8-literal
          - flake8-noqa
          - flake8-pep3101
          - flake8-print
          - flake8-raise
          - flake8-rst-docstrings
          - flake8-simplify
          # - flake8-slots
          - flake8-string-format
          - flake8-super
          - flake8-typing-imports
          # - flake8-use-fstring
          - pep8-naming
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-markup
  #   rev: v1.0.1
  #   hooks:
  #     - id: rst-linter
  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.49"
    hooks:
      - id: check-manifest
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.26.3"
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
      - id: check-readthedocs
  # - repo: https://github.com/regebro/pyroma
  #   rev: "4.1"
  #   hooks:
  #     - id: pyroma
...
