#flake8-aaa
#flake8-pytest-style
absolufy-imports
add-trailing-comma
bandit
black
#cohesion
flake8
flake8-awesome
flake8-blind-except
flake8-bugbear
flake8-class-attributes-order
flake8-cognitive-complexity
flake8-continuation
flake8-commas
flake8-comments
flake8-complex-f-strings
flake8-debugger
flake8-docstrings
flake8-dunder-all
flake8-encodings
flake8-expression-complexity
flake8-function-order
#flake8-noqa
flake8-pep3101
flake8-print
flake8-raise
flake8-rst-docstrings
flake8-simplify
flake8-string-format
flake8-slots
flake8-super
#flake8-type-checking
flake8-typing-imports
flake8-use-fstring
lizard
mccabe
mypy
pep257
pep8
pep8-naming
pip-check
pybetter
pytest
pytest-cov==2.12.1
radon
removestar
yamllint
yesqa
